## Settings file was created by plugin CompanyGlobes v1.0.3
## Plugin GUID: CompanyGlobes

[Interior Spawn Weights]

# Setting type: String
# Default value: Facility=+0, Mansion=+2, Mineshaft=-2
Preset weights = Facility=+0, Mansion=+2, Mineshaft=-2

[Moon Spawn Weights]

# Setting type: String
# Default value: Experimentation=+8, Assurance=+10, Vow=+8, Offense=+6, March=+8, Adamance=+8, Rend=+8, Dine=+8, Titan=+8, Artifice=+8, Embrion=+10, Custom=+9
Preset weights = Experimentation=+8, Assurance=+10, Vow=+8, Offense=+6, March=+8, Adamance=+8, Rend=+8, Dine=+8, Titan=+8, Artifice=+8, Embrion=+10, Custom=+9

[Weather Spawn Weights]

# Setting type: String
# Default value: None=*1, DustClouds=*1, Rainy=*1, Stormy=*1, Foggy=*1, Flooded=*1, Eclipsed=*1
Preset weights = None=*1, DustClouds=*1, Rainy=*1, Stormy=*1, Foggy=*1, Flooded=*1, Eclipsed=*1

