## Settings file was created by plugin NoGrabDelay v1.0.0
## Plugin GUID: bultaming.NoGrabDelay

[General]

## Delay between grabbing scrap. Min: 0.01. Max: 0.2. Default in vanilla lethal company is 0.2 seconds.
# Setting type: Single
# Default value: 0.01
DelayBetweenInteraction = 0.01

