## Settings file was created by plugin SirenHead v2.0.3
## Plugin GUID: Ccode.SirenHead

[General]

## Which animation Siren Head will spawn in
# Setting type: String
# Default value: random
AI Start Animation = tree

## Walking speed of Siren Head
# Setting type: Single
# Default value: 3.5
Siren Head Walk Speed = 3.5

## Running speed of Siren Head
# Setting type: Single
# Default value: 7
Siren Head Run Speed = 7

## Moons that Siren Head will spawn on. Format as: "MoonName:SpawnWeight". Check README for more info.
# Setting type: String
# Default value: VowLevel:100;MarchLevel:100
Moons = VowLevel:30;MarchLevel:30;FrayLevel:30;CelestLevel:15;GratarLevel:5;SpectralisLevel:10;PelagiaLevel:25;BomenorenLevel:30;EdenLevel:25;Hydro:20;Volition:30;Veld:15;Sanguine:30;Quasara:20;Gloom:15

AI Start = random

Walk Speed = 2.5

Run Speed = 6

Levels = Fray:50;Verdance:50;VowLevel:50;MarchLevel:50;Eve-M:50;StarlancerZero:50;AdamanceLevel:50;Celest:50;Junic:50;Gratar:50;Gloom:50;Acidir:50

