## Settings file was created by plugin Celestial Tint v1.5.2
## Plugin GUID: CelestialTint

[1. Planets]

## Whether the outside should show the vanilla planets. Also adds in a sun object. Illusion can break when enabling ShipDoorAccess.
# Setting type: Boolean
# Default value: false
VanillaMode = false

## Mappings of planet names and tags. Separate each mapping with a comma. Each mapping should be in the format 'PlanetName@TagName'. Example: Experimentation@Wasteland, Vow@Valley. Go to the Celestial Tint github wiki page for previews.
# Setting type: String
# Default value: 
PlanetTagMappings = Assurance@Wasteland, Vow@Valley, Azure@Rocky, Aerona@Tundra, Provenance@Tundra, Teyn@Tundra, Crystallum@Rocky, Egypt@Canyon, Jabiua@Tundra, Nyx@Company, Orion@Wasteland, Aquatis@Valley, Pelagia@Volcanic, Vacuity@Canyon, Bomenoren@Valley, Tauralis@Tundra, Schalttafel@Tundra, Dirge@Tundra, Phaedra@Wasteland, March@Valley, Atlas Abyss@Company, Zeimalt@Valley, Cosmocos@Argon, Adamance@Valley, Celest@Valley, Acidir@Valley, Rend@Tundra, Dine@Tundra, Titan@Tundra, Auralis@Tundra, Gordion@Company, Artifice@Company, Gloom@Company, Offence@Canyon, Experimentation@Rocky, Embrion@Rocky, Oldred@Company, Asteroid-13@Rocky, Infernis@Volcanic, Triskelion@Argon, StarlancerZero@Tundra, USC Vortex@Argon, Harloth@Valley, Devastation@Rocky, Kast@Company, Temper@Rocky, Vertigo@Canyon, Destitute@Canyon, Corrosion@Company, Synthesis@Valley, Gratar@Valley, Submersion@Ocean, Cambrian@Ocean, Volition@Valley, Polarus@Tundra, Attenuation@Canyon, Arcadia@Canyon, Seichi@Valley, Siabudabu@Tundra, Spectralis@Valley, Junic@Valley, Pinnalce@Tundra, Icebound@Tundra, Collateral@Wasteland, Hydro@Valley, Derelict@Company, Verdance@Valley, Boreal@Tundra, Fray@Valley, Affliction@Wasteland, Sierra@Canyon

[2. Ship]

##  Whether to display ship parts in orbit. Only visible if you go outside.
# Setting type: Boolean
# Default value: false
DisplayShipParts = false

## Whether to door can be opened while in orbit.
# Setting type: Boolean
# Default value: false
ShipDoorAccess = false

[3. Debugging]

## Whether to display debug messages. When false, Celestial Tint will not display any messages.
# Setting type: Boolean
# Default value: false
DebugLogging = false

