## Settings file was created by plugin CompanyGlobes v1.1.1
## Plugin GUID: CompanyGlobes

[Globe Options]

Preset Moon Weights = lethal_company:experimentation=+8,lethal_company:assurance=+10,lethal_company:vow=+8,lethal_company:offense=+6,lethal_company:march=+8,lethal_company:adamance=+8,lethal_company:rend=+8,lethal_company:titan=+8,lethal_company:artifice=+7,lethal_company:embrion=+10,lethal_company:custom=+9

Preset Interior Weights = lethal_company:mansion=+2,lethal_company:mineshaft=+-2

Preset Weather Weights = lethal_company:foggy=*1,1

Value = 34,114

[Interior Spawn Weights]

Preset weights = Facility=+0, Mansion=+2, Mineshaft=-2

[Moon Spawn Weights]

Preset weights = Experimentation=+8, Assurance=+10, Vow=+8, Offense=+6, March=+8, Adamance=+8, Rend=+8, Dine=+8, Titan=+8, Artifice=+8, Embrion=+10, Custom=+9

[Scrap Options]

## Whether Scrap is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Globe.
# Setting type: Boolean
# Default value: false
Globe | Allow Editing Config = false

## Preset moon weights for Globe.
# Setting type: String
# Default value: lethal_company:all=+12,lethal_company:dine=*0
Globe | Preset Moon Weights = lethal_company:all=+12,lethal_company:dine=*0

## Preset interior weights for Globe.
# Setting type: String
# Default value: lethal_company:ornate=+2,lethal_company:cavern=-2
Globe | Preset Interior Weights = lethal_company:ornate=+2,lethal_company:cavern=-2

## Preset weather weights for Globe.
# Setting type: String
# Default value: lethal_company:foggy=*1,2
Globe | Preset Weather Weights = lethal_company:foggy=*1,2

## Preset route weights for Globe.
# Setting type: String
# Default value: 
Globe | Preset Route Weights = 

## How much Globe is worth when spawning.
# Setting type: BoundedRange
# Default value: 54,114
Globe | Value = 54,114

[Weather Spawn Weights]

Preset weights = None=*1, DustClouds=*1, Rainy=*1, Stormy=*1, Foggy=*1, Flooded=*1, Eclipsed=*1

