## Settings file was created by plugin Lethal_Nuke v1.0.0
## Plugin GUID: Lethal_Nuke

[Global]

## The higher this value is, the more often the nuke will spawn in-game.
# Setting type: Int32
# Default value: 28
Nuke Spawn Weight = 3

## Minimum scrap value the nuke sells for.
# Setting type: Int32
# Default value: 120
Minimum Value = 120

## Maximum scrap value the nuke sells for.
# Setting type: Int32
# Default value: 200
Maximum Value = 200

