## Settings file was created by plugin QuotaOverhaul v2.0.0
## Plugin GUID: luciusoflegend.lethalcompany.quotaoverhaul

[Credit Penalties]

## When enabled, you will lose a fraction of your credits for every crew memeber that dies.  You can also enable dynamic mode, in which case the penalty is based on the ratio of dead players to alive players. 
## Vanilla: true
# Setting type: Boolean
# Default value: false
Enable = true

## When enabled, you also lose credits for dead players on Gordion/The Company. 
## Vanilla: true
# Setting type: Boolean
# Default value: false
Enable At The Company = false

## The fraction of your credits that you lose for each dead player.  Example:  Penalty Per Player = 20%, you have 1000 credits, 2 players die, you lose 400. 
## Values >= 0
# Setting type: Single
# Default value: 0.2
Penalty Per Player = 5

## Instead of calculating the penalty as a flat rate per dead player, Dynamic Mode calculates the penalty based on the portion of your crew that died.  This makes it more balanced for large crews.
## Vanilla: false
# Setting type: Boolean
# Default value: true
Dynamic Mode = false

## The penalty in the worst case scenario, all players dead and unrecovered. Any players still alive, and any bodies recovered (see Body Recovery Bonus) will reduce the penalty. 
## Values >= 0
# Setting type: Single
# Default value: 0.8
Dynamic Penalty Cap = 0.8

## If the penalty falls below this threshold, the penalty is set to 0. Increasing this value makes minor slip-ups more forgiving.  This applies to both the static and dynamic algorithms. 
## Values > 0
# Setting type: Single
# Default value: 0.2
Dynamic Penalty Threshold = 0.2

## How much of the penalty to forgive for recovering bodies. A higher value means a higher incentive to recover bodies.  Applies to both normal and dynamic modes. 
## Values between 0-100
# Setting type: Single
# Default value: 0.2
Body Recovery Bonus = 90

## The penalty that will be applied in the case of all players being dead.  A value <= 0 disables this feature.  This applies to either flat or dynamic mode.  Recovered bodies still reduce the penalty as normal.
# Setting type: Single
# Default value: 0
Team Wipe Penalty = 0

Penalty Percent Cap = 20

Penalty Percent Threshold = 5

[Equipment Loss]

## Allow equipment to be lost. 
## Vanilla: false.
# Setting type: Boolean
# Default value: false
Equipment Loss Enabled = false

## A chance of each equipment item being lost. 
## Applied after SaveAllChance. 
## Values between 0-1 
## Vanilla: 0
# Setting type: Single
# Default value: 0.1
Equipment Loss Chance = 10

## The maximum amount of equipment that can be lost. 
## Applied after EquipmentLossChance.
# Setting type: Int32
# Default value: 2147483647
Lost Equipment Max = 2147483647

## The maximum fraction of equipment items that can be lost.  For example, if this is set to 0.5, and you have 6 equipment items on the ship, you cannot lose more than 3 equipment items. 
## Values between 0-1
# Setting type: Single
# Default value: 1
Lost Equipment Max Fraction = 1

Lost Equipment Max Percent = 100

Equipment Loss Max = 2147483647

[Quota Penalties]

## Increase the quota for each player that dies. Intended to replace losing scrap when all players die. Penalties stack additively and are reset after each quota. 
## Vanilla: false
# Setting type: Boolean
# Default value: true
Enable = true

## Whether to allow quota penalties at the company building. 
## Vanilla: true
# Setting type: Boolean
# Default value: false
Enable At The Company = false

## The amount to increase the quota per dead player, as a multiple of the quota for this round. 
## Values >= 0
# Setting type: Single
# Default value: 0.12
Penalty Per Player = 3

## Instead of calculating the penalty as a flat rate per dead player, Dynamic Mode calculates the penalty based on the portion of your crew that died.  This makes it more balanced for large crews.
## Vanilla: false
# Setting type: Boolean
# Default value: true
Dynamic Mode = false

## The penalty in the worst case scenario, all players dead and unrecovered. Any players still alive, and any bodies recovered (see Body Recovery Bonus) will reduce the penalty. 
## Values >= 0
# Setting type: Single
# Default value: 0.5
Dynamic Penalty Cap = 0.5

## If the penalty falls below this threshold, the penalty is set to 0. Increasing this value makes minor slip-ups more forgiving.  This applies to both the static and dynamic algorithms. 
## Values between 0-100
# Setting type: Single
# Default value: 0.25
Dynamic Penalty Threshold = 0.25

## How much of the penalty to forgive for recovering bodies.  Applies to both normal and dynamic modes.  For example:  Assuming a fully default coniguration, except without Dynamic Penalties, if you die, the penalty for your body is 0.12.  If your body is recovered, 0.5x of the penalty is forgiven, leaving a penalty of 0.06. 
## Values > 0
# Setting type: Single
# Default value: 0.5
Body Recovery Bonus = 85

## The penalty that will be applied in the case of all players being dead.  A value <= 0 disables this feature.  This applies to either flat or dynamic mode.  Recovered bodies still reduce the penalty as normal.
# Setting type: Single
# Default value: 0
Team Wipe Penalty = 0

## Charges credits instead of increasing the quota.  You can set the conversion rate below.  Quota will only increase when you've run out of credits.
# Setting type: Boolean
# Default value: false
Charge Credits Instead = false

## The conversion rate from Quota Penalties to Credits.  Increasing this makes you lose more credits.  This can also be set below 1, to make credits less sensitive. 
## Values: > 0
# Setting type: Single
# Default value: 1
Credits Per Quota = 1

Penalty Percent Cap = 12

Penalty Percent Threshold = 4

[Quota Settings]

## How much cash you want? 
## Vanilla: 60
# Setting type: Int32
# Default value: 300
Starting Credits = 70

## The first quota. 
## Vanilla: 130
# Setting type: Int32
# Default value: 200
Starting Quota = 300

## The minimum quota increase. 
## Vanilla: 200
# Setting type: Int32
# Default value: 125
Quota Base Increase = 150

## The quota increases exponentially, and this controls the steepness of the curve.  HIGHER steepness value = LOWER quota. 
## Vanilla: 16
# Setting type: Single
# Default value: 16
Quota Increase Steepness = 6.5

## There is a bit of random variation each time the quota increases.  This number controls how much. 
## Vanilla: 1
# Setting type: Single
# Default value: 0
Quota Randomness Multiplier = 0.6

## The number of days you are given to complete each quota. 
## Vanilla: 3
# Setting type: Int32
# Default value: 3
Quota Deadline = 3

## The minimum number of days that need to pass before you are allowed to finish the quota.  Values lower than 0 mean that you're not allowed to finish early. 
## Vanilla: 0
# Setting type: Int32
# Default value: 0
Days Before Early Finish = 0

## When enabled, the quota scales based on the number of players. 
## Vanilla: false
# Setting type: Boolean
# Default value: true
Enable Player Count Multiplier = true

## The multiplier for each player.  Only applies to player counts above the threshold, and below the cap.  The formula is basically Quota * (1 + MultiplierPerPlayer * PlayerCount (adjusted based on the cap and threshold))
# Setting type: Single
# Default value: 0.25
Multiplier Per Player = 0.18

## Only player counts exceeding this threshold will have an impact on the quota.  This option may be confusing, so here's an example: with a Threshold of 2 players, and a total of 2 players in the lobby, the Player Count Multiplier will be 1, meaning the quota is unchanged.  Assuming the default Multiplier Per Player of 0.25, 4 players would give you a multiplier of 1.5
# Setting type: Int32
# Default value: 1
Player Count Threshold = 2

## Adding more players beyond this cap will not increase the quota multiplier.  This makes sense to have because there comes a point where adding more players doesn't make it significantly easier to reach the quota.
# Setting type: Int32
# Default value: 8
Player Count Cap = 12

[Scrap Loss]

## Toggles the entire patch of the Despawn Props method.  Leave this as true unless you need to disable it for mod compatibility.  The Scrap Loss On Gordion toggle is separate from this patch, so for truly vanilla behavior, set it to true. 
## Vanilla: false
# Setting type: Boolean
# Default value: true
Despawn Props Patch = true

## If enabled, you lose scrap when all players die on a moon.  
## Vanilla: true
# Setting type: Boolean
# Default value: false
Enable Scrap Loss = false

## Toggles scrap loss at the company building.  This can be enabled separately from the rest of the scrap loss changes, i.e. even if Despawn Props Patch is false. 
##  Vanilla: true
# Setting type: Boolean
# Default value: false
Scrap Loss at the Company = false

## A chance between 0 and 1 of all scrap and equipment being safe. When your items are 'safe', it overrides all other settings, and you keep everything. 
## Values between 0-1 
## Vanilla: 0
# Setting type: Single
# Default value: 0.25
Safe Chance = 0

## If enabled, you lose a fraction of the total scrap value on board on a crew wipe. 
## Vanilla: false.
# Setting type: Boolean
# Default value: true
Value Loss Enabled = false

## The fraction of total scrap value to lose. 
## Values between 0-1
# Setting type: Single
# Default value: 1
Value Loss Amount = 1

## A chance between 0 and 1 of each item being lost. 
## Values between 0-1 
## Vanilla: 0
# Setting type: Single
# Default value: 0.5
Lose Each Chance = 100

## The maximum number of scrap items that can be lost.
# Setting type: Int32
# Default value: 2147483647
Lost Scrap Max = 2147483647

## The maximum fraction of scrap items that can be lost.  For example, if this is set to 0.5, and you have 8 scrap on the ship, you cannot lose more than 4 scrap.
# Setting type: Single
# Default value: 1
Lost Scrap Max Fraction = 1

Value Loss Percent = 100

Lost Scrap Max Percent = 100

Scrap Loss Enabled = true

Scrap Loss Max = 2147483647

Lost Items Alert = false

