[Basementdunflow - mones_interiors:basementdunflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = 

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = 

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Deepmines - beaniebesmod:deepmines]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = 

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = 

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Drainsflow - genericinteriors:drainsflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = 

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = 

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Facility - lethal_company:facility]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = 

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = 

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Facilityextralarge - lethal_company:facility_extra_large]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = 

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = 

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Facilitythreeexits - lethal_company:facility_three_exits]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = 

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = 

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Gearboltflow - gearbolt_foundry_interior:gearboltflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = 

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = 

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Liminalhouseflow - beaniebesmod:liminalhouseflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = 

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = 

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Mansion - lethal_company:mansion]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = 

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = 

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Mineshaft - lethal_company:mineshaft]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = 

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = 

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Ravenflow - raven_manor_interior:ravenflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = 

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = 

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Shflow - genericinteriors:shflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = 

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = 

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Storagecomplex - storagecomplex:storagecomplex]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = 

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = 

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Towerflow - genericinteriors:towerflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = 

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = 

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

