## Settings file was created by plugin WeatherInjector v1.3.0
## Plugin GUID: ZetaArcade.WeatherInjector

[Debug]

## Enable logging of all weather variables for every weather registered to the current moon after landing, useful if you want to see what WeatherVariables those moons use
# Setting type: Boolean
# Default value: false
Debug Mode = false

[DustClouds]

## Levels to inject DustClouds weather into, in a semi-colon seperated list, with each entry being the moon internal name, followed by an @ and the first weather variable as an int and then an @ with the 2nd variable E.g. Experimentation@1@9;Assurance@1@3;Gloom@0@0; If you don't know what a weather variable is, leave them both as 0. To my knowledge, these values do nothing with DustClouds anyways.
# Setting type: String
# Default value: 
Dust Clouds Levels = Experimentation@0@0;Vow@0@0;Adamance@0@0;Integrity@0@0;Brutality@0@0;Offense@0@0;Assurance@0@0;Egypt@0@0;March@0@0;Hydro@0@0;Asteroid13@0@0;Sierra@0@0;Tunere@0@0;Wither@0@0;Gratar@0@0;Corrosion@0@0;Attenuation@0@0;Retinue@0@0;Vertigo@0@0;Devastation@0@0;Calist@0@0;Demetrica@0@0;Ichor@0@0;Arcadia@0@0;Derelict@0@0;Collateral@0@0;Volition@0@0;Sanguine@0@0;Landslide@0@0;Humidity@0@0;Aquar@0@0;Fray@0@0;Gloom@0@0;Valunarion@0@0;Infernis@0@0;Scallg@0@0;Fremist@0@0;Quasara@0@0;Vacuity@0@0

[Eclipsed]

## Levels to inject Eclipsed weather into, in a semi-colon seperated list, with each entry being the moon internal name, followed by an @ and the first weather variable as an int and then an @ with the 2nd variable E.g. Experimentation@3@0;Assurance@4@0;Gloom@10@0; If you don't know what a weather variable is, leave them both as 1. For Eclipsed, the 1st number controls how many extra enemies spawn every spawn cycle. The 2nd value does nothing.
# Setting type: String
# Default value: Experimentation@1@0;Assurance@1@0;Vow@1@0;March@2@0;Offense@4@0;Adamance@3@0;Embrion@4@0;Rend@3@0;Dine@4@0;Titan@3@0;Artifice@3@0;
Eclipsed Levels = Experimentation@1@0;Assurance@1@0;Vow@1@0;March@2@0;Offense@4@0;Adamance@3@0;Embrion@4@0;Rend@3@0;Dine@4@0;Titan@3@0;Artifice@3@0;

[Flooded]

## Levels to inject Flooded weather into, in a semi-colon seperated list, with each entry being the moon internal name, followed by an @ and the first weather variable as an int and then an @ with the 2nd variable E.g. Experimentation@1@9;Assurance@1@3;Gloom@0@0; If you don't know what a weather variable is, leave them both as 0. For Flooded, the 1st number controls the starting height of the water, and the 2nd controls the delta (how much height to add/subtract). For reference, Experimentation's defaults are -4@5, and Adamance (Which starts high but ends up low) is -3@-24.
# Setting type: String
# Default value: Experimentation@-4@5;Assurance@-2@2;Vow@-6@6;March@-8@7;Offense@-4@5;Adamance@-3@-24;Dine@-11@-10;Artifice@-10@6;
Flooded Levels = Experimentation@-4@5;Assurance@-2@2;Vow@-6@6;March@-8@7;Offense@-4@5;Adamance@-3@-24;Dine@-11@-10;Artifice@-10@6;

[Foggy]

## Levels to inject Foggy weather into, in a semi-colon seperated list, with each entry being the moon internal name, followed by an @ and the first weather variable as an int and then an @ with the 2nd variable E.g. Experimentation@1@9;Assurance@1@3;Gloom@10@10; If you don't know what a weather variable is, leave them both as 0. For Foggy, the variables are used to control the min/max fog density.
# Setting type: String
# Default value: Experimentation@4@7;Assurance@6@17;Vow@4@18;March@6@16;Offense@5@18;Adamance@5@13;Embrion@4@15;Titan@4@12;
Foggy Levels = Company@4@7;Experimentation@4@7;Assurance@6@17;Vow@4@18;March@6@16;Offense@5@18;Adamance@5@13;Embrion@4@15;Titan@4@12;

[General]

## Levels to disable weather overrides in. Weather overrides are a feature implemented by moon devs to force certain weathers to appear, regardless of anything else. This config attempts to disable those effects. Format is a list of moon names seperated by ; e.g. Soreal;Penumbra; etc. etc.
# Setting type: String
# Default value: 
Level Weather Override Whitelist = 

## When enabled, before any injections from this mod happen, all vanilla weather (including Clear weather!) is unregistered from every moon, ensuring that only vanilla weathers on moon will be ones you inject yourself. This is mostly for if you want to remove clear weather from moons, as you can already prevent a weather appearing on a moon by just blacklisting it in WeatherRegistry.
# Setting type: Boolean
# Default value: false
Unregister All Vanilla Weathers = false

[None (Clear)]

## Levels to inject 'None' (Clear) weather into, in a semi-colon seperated list, with each entry being the moon internal name, followed by an @ and the first weather variable as an int and then an @ with the 2nd variable E.g. Experimentation@1@9;Assurance@1@3;Gloom@0@0; If you don't know what a weather variable is, leave them both as 0. WARNING, might lead to some incredibly buggy behaviour, some things in mods might break if Clear isn't a possible weather, use at your own risk!
# Setting type: String
# Default value: 
None (Clear) Levels = 

[Rainy]

## Levels to inject Rainy weather into, in a semi-colon seperated list, with each entry being the moon internal name, followed by an @ and the first weather variable as an int and then an @ with the 2nd variable E.g. Experimentation@1@9;Assurance@1@3;Gloom@0@0; If you don't know what a weather variable is, leave them both as 0. To my knowledge, these values do nothing with Rainy anyways.
# Setting type: String
# Default value: Experimentation@0@0;Assurance@0@0;Vow@0@0;March@0@0;Offense@0@0;Adamance@0@0;Rend@0@0;Dine@0@0;Titan@0@0;Artifice@0@0;
Rainy Levels = Company@0@0;Experimentation@0@0;Assurance@0@0;Vow@0@0;March@0@0;Offense@0@0;Adamance@0@0;Rend@0@0;Dine@0@0;Titan@0@0;Artifice@0@0;

[Stormy]

## Levels to inject Stormy weather into, in a semi-colon seperated list, with each entry being the moon internal name, followed by an @ and the first weather variable as an int and then an @ with the 2nd variable E.g. Experimentation@1@0;Assurance0@0;Gloom@3@0; If you don't know what a weather variable is, leave them both as 1. For Stormy, the 1st number controls how often lightning strikes. The 2nd value does nothing.
# Setting type: String
# Default value: Experimentation@1@0;Assurance@1@0;Vow@1@0;March@1@0;Offense@1@0;Adamance@1@0;Rend@1@0;Titan@1@0;Artifice@1@0;
Stormy Levels = Company@1@0;Experimentation@1@0;Assurance@1@0;Vow@1@0;March@1@0;Offense@1@0;Adamance@1@0;Rend@1@0;Titan@1@0;Artifice@1@0;

