## Settings file was created by plugin AbandonedCompanyAssets v0.16.0
## Plugin GUID: AbandonedCompanyAssets

[Extra]

## Should the Emergency Flare's name be changed to improve compatibility? [Default: false]
# Setting type: Boolean
# Default value: false
EnableFlareCompatibilityName = false

[General]

## Should the Emergency Flare be available in the shop?
# Setting type: Boolean
# Default value: true
EnableFlare = true

## Should the Glowsticks be available in the shop?
# Setting type: Boolean
# Default value: true
EnableGlowsticks = true

## Should the Lighters spawn in the dungeon?
# Setting type: Boolean
# Default value: true
EnableLighter = true

## Should the Antique Candles be available in the shop?
# Setting type: Boolean
# Default value: true
EnableShopCandle = true

## Should the Antique Candles spawn in the dungeon?
# Setting type: Boolean
# Default value: true
EnableDungeonCandle = true

## Should the Abandoned Flashlights spawn in the dungeon?
# Setting type: Boolean
# Default value: true
EnableBBFlashlight = true

## Should the random glowsticks spawn in the dungeon?
# Setting type: Boolean
# Default value: true
EnableRandomGlowsticks = true

## Should the Abandoned TZP-Inhaler spawn in the dungeon?
# Setting type: Boolean
# Default value: true
EnableAbandonedTZP = true

[Glowsticks]

## How many glowsticks are in glowstick piles?
# Setting type: Int32
# Default value: 3
GlowstickUses = 3

[Spawn Weights]

## What should the spawn weight of the Antique Candle be? [Default: 10]
# Setting type: Int32
# Default value: 10
CandleSpawnWeight = 10

## What should the spawn weight of the Lighter be? [Default: 20]
# Setting type: Int32
# Default value: 20
LighterSpawnWeight = 20

## What should the spawn weight of the Bullet Lighter be? [Default: 2]
# Setting type: Int32
# Default value: 2
BulletLighterSpawnWeight = 2

## What should the spawn weight of the Abandoned Flashlight be? [Default: 30]
# Setting type: Int32
# Default value: 30
AbandonedBBFlashSpawnWeight = 0

## What should the spawn weight of the Abandoned Pro-Flashlight be? [Default: 20]
# Setting type: Int32
# Default value: 20
AbandonedProFlashSpawnWeight = 0

## What should the spawn weight of the Abandoned TZP-Inhaler be? [Default: 60]
# Setting type: Int32
# Default value: 60
AbandonedTZPSpawnWeight = 0

## What should the spawn weight of the Dropped Glowstick be? [Default: 10]
# Setting type: Int32
# Default value: 10
DroppedGlowstickSpawnWeight = 3

