## Settings file was created by plugin SlipperyShotgun v1.3.0
## Plugin GUID: com.itekso.SlipperyShotgun

[General]

## Percent chance to drop the shotgun (0-100)
# Setting type: Int32
# Default value: 45
ShotgunDropChance = 15

## Percent chance to drop the Rifle (0-100)
# Setting type: Int32
# Default value: 25
RifleDropChance = 5

## Percent chance to drop the Revolver (0-100)
# Setting type: Int32
# Default value: 35
RevolverDropChance = 10

## Whether dropping the shotgun should prevent it from firing
# Setting type: Boolean
# Default value: false
ShotgunDropPreventsFiring = true

## Whether dropping the Rifle should prevent it from firing
# Setting type: Boolean
# Default value: false
RifleDropPreventsFiring = true

## Whether dropping the Revolver should prevent it from firing
# Setting type: Boolean
# Default value: false
RevolverDropPreventsFiring = true

## Enable silly extras (None, Confetti, Explosion, CarBomb)
# Setting type: SillyExtrasOption
# Default value: None
# Acceptable values: None, Confetti, Explosion, CarBomb
SillyExtras = None

## Sound effect to play (None, Bonk, Boo, Slip)
# Setting type: SoundEffectOption
# Default value: None
# Acceptable values: None, Bonk, Boo, Slip
SoundEffect = Slip

## Log level (None, Info, Debug)
# Setting type: LogLevel
# Default value: Info
# Acceptable values: None, Info, Debug
LogLevel = Info

DropChance = 3

M4DropChance = 25

ConfettiMode = false

