## Settings file was created by plugin Biodiversity v0.2.8
## Plugin GUID: com.github.biodiversitylc.Biodiversity

[Creatures]

## Enable/disable the OgopogoHandler
# Setting type: Boolean
# Default value: true
OgopogoHandler = true

## Enable/disable the MicBirdHandler
# Setting type: Boolean
# Default value: true
MicBirdHandler = false

## Enable/disable the HoneyFeederHandler
# Setting type: Boolean
# Default value: true
HoneyFeederHandler = false

## Enable/disable the CritterHandler
# Setting type: Boolean
# Default value: true
CritterHandler = false

## Enable/disable the CoilCrabHandler
# Setting type: Boolean
# Default value: true
CoilCrabHandler = false

## Enable/disable the BeetlerHandler
# Setting type: Boolean
# Default value: false
BeetlerHandler = false

## Enable/disable the AloeHandler
# Setting type: Boolean
# Default value: true
AloeHandler = false

WaxSoldierHandler = false

RockHandler = true

ClockworkAngelHandler = true

DeveloperScrapHandler = false

[Development]

## Whether to log more debug information to the console. 99% of people do NOT need to touch this.
# Setting type: Boolean
# Default value: false
VerboseLoggingEnabled = false

VerboseLogging = false

StabIsReal = false

[General]

## What language should Biodiversity use?
## Some languages may also need FontPatcher(https://thunderstore.io/c/lethal-company/p/LeKAKiD/FontPatcher/)
## 
# Setting type: String
# Default value: en
# Acceptable values: en, de, es, fr, ru
Language = en

[Other]

## The stab is real.
# Setting type: Boolean
# Default value: false
StabIsReal = false

