## Settings file was created by plugin Oxygen v1.6.7
## Plugin GUID: consequential.Oxygen

[Compatibility]

## Oxygen becomes infinite when the player teleports to mod's places to simplificate gameplay.
## (syncing with host)
# Setting type: Boolean
# Default value: true
InfinityOxygenInModsPlaces = false

## Enables oxygen consumption when the helmet's crack level is 2.
## (syncing with host)
# Setting type: Boolean
# Default value: true
ImmersiveVisorSupport = true

## How much additional oxygen will be consumed if the helmet's crack level is 2?
## Depends on the secTimer variable.
## (syncing with host)
# Setting type: Single
# Default value: 0.002
ImmersiveVisor_OxygenDecreasing = 0.0012

[General]

## Usually, on the ship, you use oxygen canisters to refill the oxygen, but with this option, you can choose some additional ways.
## 
## "WhenDoorsClosed" - Auto filling works only if the ship's doors are closed.
## "WhenPlayerOnShip" - Works in both situations (doors are open or closed), the player just needs to be on the ship.
## "Off" - Disabled.
## 
## (syncing with host)
# Setting type: AutoFillingOnShip
# Default value: WhenDoorsClosed
# Acceptable values: WhenDoorsClosed, WhenPlayerOnShip, Off
autoFillingOnShip = WhenDoorsClosed

## How fast oxygen should be refilled when 'autoFillingOnShip' is not Off.
## (syncing with host)
# Setting type: Single
# Default value: 0.002
autoFillingOnShip_increasingOxygen = 0.001

## Whether the oxygen meter ring should be accurate or have vanilla behaviour.
# Setting type: Boolean
# Default value: true
accurateMeter = true

## If true, the oxygen HUD disappears if the oxygen value > 'autoHideHUD_value' setting. 
## Works without installing ShyHUD. If ShyHUD is installed, but this option is not enabled, the HUD won't disappear
# Setting type: Boolean
# Default value: false
autoHideHUD = false

## The oxygen HUD disappears if the oxygen value > 'autoHideHUD_value' setting (value from 0 to 1.0).
## You can completely hide the oxygen HUD by setting the 'autoHideHUD_value' to 0.
## If you set the value to 1, this will prevent the oxygen HUD from disappearing.
# Setting type: Single
# Default value: 0.75
autoHideHUD_value = 0.75

## If this is set to TRUE, oxygen will be recovered once ship has left.
# Setting type: Boolean
# Default value: true
recoverOxygen_ShipLeft = false

## If this is set to TRUE, oxygen will be recovered as soon as the round has started.
# Setting type: Boolean
# Default value: true
recoverOxygen_StartOfRound = true

## Every how many seconds should the mod check the player's condition and take away some oxygen.
## (syncing with host)
# Setting type: Single
# Default value: 5
secTimer = 5

## Sets how many damage player should get when he has no oxygen.
## (syncing with host)
# Setting type: Int32
# Default value: 15
playerDamage = 10

[Other]

## Should the mod notify you when oxygen is getting low?
# Setting type: Boolean
# Default value: true
notifications = true

## Horizontal offset for the oxygenHUD position.
# Setting type: Int32
# Default value: 0
XOffset = 0

## Vertical offset for the oxygenHUD position.
# Setting type: Int32
# Default value: 0
YOffset = 0

## If you can't get out from under the water for a long time, you could just kill yourself :)
## (syncing with host)
# Setting type: Boolean
# Default value: true
EnableDieEarlyUI = true

## After selected number of seconds the UI to die early would appear.
# Setting type: Single
# Default value: 60
dieEarlyUI_Timer = 15

[OxyBoost]

## Enables the OxyBoost
# Setting type: Boolean
# Default value: true
EnableOxyBoost = true

## How much oxygen does OxyBoost add to the player.
## (syncing with host)
# Setting type: Single
# Default value: 0.001
OxyBoost_increasingValue = 0.15

## OxyBoost's price.
## (syncing with host)
# Setting type: Int32
# Default value: 70
OxyBoost_price = 65

[OxyCharger]

## Should the oxyCharger be enabled? (oxygen canisters on the ship)
## (syncing with host)
# Setting type: Boolean
# Default value: true
EnableOxyCharger = true

## OxyCharger's SFX volume
# Setting type: Single
# Default value: 1
oxyCharger_SFXVolume = 1

[Oxygen]

## Disables oxygen consumption outside on listed planets. 
## Oxygen consumption by a player while underwater will still exist. The consumption caused by the damaged helmet (ImmersiveVisor) will be omitted.
## Follow the syntax of the default value.
## (syncing with host)
# Setting type: String
# Default value: March@0;Vow@0;Gordion@0
greenPlanets = Company@0;Vow@0;Adamance@0;Verdance@0;Hydro@0;Submersion@0;Sludgeld@0;Mazon@0;Dejection@0;Humidity@0;Kanie@0;Symbiosis@0;Deluge@0;Terra@0;Kiri@0;Allure@0;March@0;Harvest@0;Valunarion@0;Bilge@0;Fracture@0;Rampart@0;Thrive@0;Ignition@0;Manuland@0;Wither@0;Taldor@0

## Indicates how much oxygen is consumed when a player is outside and is triggered every secTimer (config option) seconds.
## (syncing with host)
# Setting type: Single
# Default value: 0.0075
decreasingOxygenOutside = 0.0065

## Indicates how much oxygen is consumed when a player is outside and is triggered every secTimer (config option) seconds.
## This takes priority over the decreasingOxygenOutside config option.
## Not listed moons will use the decreasingOxygenOutside config option.
## (e.g. Experimentation@1.9;Vow@0.09;CUSTOM_MOON_NAME@10)
## (syncing with host)
# Setting type: String
# Default value: Dine@0.0086;Rend@0.0086;Titan@0.009
decreasingOxygenOutsideMoons = Divide@0.0072;Boreal@0.0072;Noctis@0.0072;Chronos@0.0072;Ascension@0.0072;Rend@0.0072;Dine@0.0072;Titan@0.0072;Precipice@0.0072;Phobos/Deimos@0.0075;Lua@0.0075;Kiln@0.0078

## Indicates how much oxygen is consumed when a player is in the facility and is triggered every secTimer (config option) seconds.
## (syncing with host)
# Setting type: Single
# Default value: 0.007
decreasingOxygenInFactory = 0.006

## Indicates how much oxygen is consumed when a player is in the facility and is triggered every secTimer (config option) seconds.
## This takes priority over the decreasingOxygenInFactory config option.
## Not listed moons will use the decreasingOxygenInFactory config option.
## (e.g. Experimentation@1.9;Vow@0.09;CUSTOM_MOON_NAME@10)
## (syncing with host)
# Setting type: String
# Default value: Dine@0.0086;Rend@0.0086;Titan@0.009
decreasingOxygenInFactoryMoons = Divide@0.0062;Boreal@0.0062;Noctis@0.0062;Chronos@0.0062;Ascension@0.0062;Rend@0.0062;Dine@0.0062;Titan@0.0062;Precipice@0.0062;Phobos/Deimos@0.0062;Lua@0.0062;Kiln@0.0062

## Increases oxygen leakage when the player is in fear and is triggered every 2 seconds.
## (syncing with host)
# Setting type: Single
# Default value: 0.01
decreasingInFear = 0.0035

## Multiplies oxygen drain when player is running.
## (syncing with host)
# Setting type: Single
# Default value: 1
runningMultiplier = 0.25

## Multiplies oxygen drain when player is running.
## This takes priority over the 'runningMultiplier' config option.
## Not listed moons will use the 'runningMultiplier' config option.
## (e.g. Experimentation@1.9;Vow@0.09;CUSTOM_MOON_NAME@10)
## (syncing with host)
# Setting type: String
# Default value: Dine@1.2;Rend@1.2;Titan@1.25
runningMultiplierMoons = Divide@0.4;Boreal@0.4;Noctis@0.4;Chronos@0.4;Ascension@0.4;Rend@0.4;Dine@0.4;Titan@0.4;Precipice@0.4;Kiln@0.55

## Increases oxygen consumption when the player is underwater and is triggered every secTimer (config option) seconds.
## (syncing with host)
# Setting type: Single
# Default value: 0.018
oxygenDepletionInWater = 0.018

## Increases oxygen consumption when the player is underwater and is triggered every secTimer (config option) seconds.
## This takes priority over the oxygenDepletionInWater config option.
## Not listed moons will use the oxygenDepletionInWater config option.
## (e.g. Experimentation@1.9;Vow@0.09;CUSTOM_MOON_NAME@10)
## (syncing with host)
# Setting type: String
# Default value: 
oxygenDepletionInWaterMoons = 

## Increases screen fog when the player runs out of oxygen.
## Depends on the secTimer variable.
## (syncing with host)
# Setting type: Single
# Default value: 0.15
oxygenDeficiency = 0.18

[Sounds]

## Enables oxygen inhalation sounds.
# Setting type: Boolean
# Default value: true
enableOxygenSFX = true

## Enables oxygen inhalation sounds while walking.
# Setting type: Boolean
# Default value: true
enableInhaleSFXWhileWalking = true

## Remains oxygen inhalation sounds when player in ship.
## Works if enableOxygenSFX variable is enabled.
# Setting type: Boolean
# Default value: false
enableOxygenSFXInShip = true

## Remains oxygen inhalation sounds when player on the Gordion (The Company) planet.
## Works if enableOxygenSFX variable is enabled.
# Setting type: Boolean
# Default value: false
enableOxygenSFXOnTheCompany = true

## volume of walking SFX.
# Setting type: Single
# Default value: 0.9
walkingSFX_volume = 0.3

## volume of running SFX.
# Setting type: Single
# Default value: 1
runningSFX_volume = 0.6

## volume of exhausted SFX.
# Setting type: Single
# Default value: 0.3
exhaustedSFX_volume = 0.3

## volume of scared SFX.
# Setting type: Single
# Default value: 1
scaredSFX_volume = 0.8

[Weather Complications]

## The oxygen recovery ability will be limited by 'oxyCharger_RemainedOxygenAmount' option if the weather on the current level is eclipsed.
## (syncing with host)
# Setting type: Boolean
# Default value: true
LimitOxygenOnEclipsed = false

## How much oxygen you will have in such rounds if "eclipsed_LimitOxygen" is enabled.
## (syncing with host)
# Setting type: Single
# Default value: 10
LimitedOxygenAmountOnEclipsed = 10

