## Settings file was created by plugin Spiner Mod v1.0.7
## Plugin GUID: Jeez.Spiner

[Audio]

## Roam sound volume (0..1)
# Setting type: Single
# Default value: 0.8
RoamVolume = 0.8

## Use quack sound pack instead of normal sounds
# Setting type: Boolean
# Default value: false
QuackSounds = false

[DarkMode]

## Enable Dark Mode (feint death + lethal phase 2)
# Setting type: Boolean
# Default value: true
Enabled = true

## Seconds before revival
# Setting type: Single
# Default value: 25
ReviveDelaySec = 25

## Seconds before executing the captive in phase 2
# Setting type: Single
# Default value: 20
KillTimeSec = 20

[Spawns]

## Spawn weight (0 = disabled)
# Setting type: Int32
# Default value: 40
SpawnWeight = 40

[Stats]

## Spiner max HP
# Setting type: Int32
# Default value: 5
MaxHP = 5

