## Settings file was created by plugin Lunas_Moons v0.1.2
## Plugin GUID: LilacLuna.Lunas_Moons

[TemplateMoon Options]

## Whether TemplateMoon is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Forsaken.
# Setting type: Boolean
# Default value: false
Forsaken | Allow Editing Config = true

## Cost for Forsaken in the shop.
# Setting type: Int32
# Default value: 0
Forsaken | Cost = 0

## Min/Max scrap for Forsaken.
# Setting type: BoundedRange
# Default value: 13,16
Forsaken | Min/Max Scrap = 19,32

## Time multiplier for Forsaken.
# Setting type: Single
# Default value: 1
Forsaken | Time Multiplier = 1

## Inside enemy power count for Forsaken.
# Setting type: Int32
# Default value: 8
Forsaken | Inside Enemy Power Count = 14

## Outside enemy power count for Forsaken.
# Setting type: Int32
# Default value: 15
Forsaken | Outside Enemy Power Count = 15

## Daytime enemy power count for Forsaken.
# Setting type: Int32
# Default value: 20
Forsaken | Daytime Enemy Power Count = 20

## Inside enemy spawn range for Forsaken.
# Setting type: Single
# Default value: 3
Forsaken | Inside Enemy Spawn Range = 3

## Outside enemy spawn range for Forsaken.
# Setting type: Single
# Default value: 3
Forsaken | Outside Enemy Spawn Range = 3

## Daytime enemy spawn range for Forsaken.
# Setting type: Single
# Default value: 10
Forsaken | Daytime Enemy Spawn Range = 10

## Inside enemy spawn curve for Forsaken.
# Setting type: AnimationCurve
# Default value: 0.00, -3.00;0.11, -2.43;0.22, -1.42;0.33, -0.06;0.44, 1.60;0.56, 3.57;0.67, 5.86;0.78, 8.35;0.89, 11.01;1.00, 15.00
Forsaken | Inside Enemy Spawn Curve = 0.00, -3.00;0.11, -2.34;0.22, -0.71;0.33, 1.85;0.44, 3.70;0.56, 4.94;0.67, 5.71;0.78, 8.27;0.89, 12.67;1.00, 15.00

## Outside enemy spawn curve for Forsaken.
# Setting type: AnimationCurve
# Default value: 0.00, -2.89;0.11, -2.25;0.22, -1.50;0.34, -1.07;0.45, -0.82;0.56, -0.55;0.67, -0.04;0.78, 1.15;0.89, 3.32;1.01, 5.36
Forsaken | Outside Enemy Spawn Curve = 0.00, -2.89;0.11, -2.32;0.22, -1.40;0.34, -1.13;0.45, -0.66;0.56, 0.02;0.67, 0.60;0.79, 0.90;0.90, 3.42;1.01, 5.36

## Daytime enemy spawn curve for Forsaken.
# Setting type: AnimationCurve
# Default value: 0.00, 3.08;0.11, 11.28;0.22, 10.94;0.33, 5.70;0.44, -0.82;0.56, -4.97;0.67, -7.39;0.78, -10.68;0.89, -13.57;1.00, -14.82
Forsaken | Daytime Enemy Spawn Curve = 0.00, 3.08;0.11, 2.25;0.22, 0.27;0.33, -2.27;0.44, -4.12;0.56, -5.01;0.67, -6.46;0.78, -9.84;0.89, -13.26;1.00, -14.82

## Whether you're allowed to edit the config entries for ForsakenMoonScene.
# Setting type: Boolean
# Default value: false
ForsakenMoonScene | Allow Editing Config = false

## Base Weight for Moon Scene: ForsakenMoonScene.
# Setting type: Int32
# Default value: 0
ForsakenMoonScene | Base Weight = 0

## Weather Weights for Moon Scene: ForsakenMoonScene.
# Setting type: String
# Default value: 
ForsakenMoonScene | Weather Spawn Weights = 

