## Settings file was created by plugin CruiserTunes v1.3.0
## Plugin GUID: Mellowdy.CruiserTunes

[Settings]

## The radio is able to play the orignal songs
# Setting type: Boolean
# Default value: true
Include Original Songs = true

## The radio notifies nearby players what song is now playing
# Setting type: Boolean
# Default value: true
Notify When New Song = false

## The radio loops songs upon completion
# Setting type: Boolean
# Default value: false
Loop = false

## The randomly picks a point in the song to start playing when switching channels
# Setting type: Boolean
# Default value: false
Random Start Time = false

## When switching between channels the quality will remain good
# Setting type: Boolean
# Default value: true
Always have good quality = false

## Volume of the radio (does not require restart)
# Setting type: Single
# Default value: 0.75
Volume = 0.75

