## Settings file was created by plugin DimmingFlashlights v0.0.6
## Plugin GUID: MrHat.DimmingFlashlights

[Settings]

## Lowest possible brightness multiplier when the battery is near empty. Default is 15% brightness
# Setting type: Single
# Default value: 0.15
Minimum brightness scale = 0

## Battery level at which full brightness stops and dimming begins. Default is 60% battery
# Setting type: Single
# Default value: 0.6
Battery Threshold = 0.3

Performance Mode = true

