## Settings file was created by plugin Valunarion v1.1.0
## Plugin GUID: PowerFull.Valunarion

[ValunarionConfig Options]

## Whether ValunarionConfig is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for 63 Valunarion.
# Setting type: Boolean
# Default value: false
63 Valunarion | Allow Editing Config = false

## Cost for 63 Valunarion in the shop.
# Setting type: Int32
# Default value: 175
63 Valunarion | Cost = 175

## Min/Max scrap for 63 Valunarion.
# Setting type: BoundedRange
# Default value: 13,17
63 Valunarion | Min/Max Scrap = 13,17

## Time multiplier for 63 Valunarion.
# Setting type: Single
# Default value: 1
63 Valunarion | Time Multiplier = 1

## Inside enemy power count for 63 Valunarion.
# Setting type: Int32
# Default value: 14
63 Valunarion | Inside Enemy Power Count = 14

## Outside enemy power count for 63 Valunarion.
# Setting type: Int32
# Default value: 12
63 Valunarion | Outside Enemy Power Count = 12

## Daytime enemy power count for 63 Valunarion.
# Setting type: Int32
# Default value: 14
63 Valunarion | Daytime Enemy Power Count = 14

## Inside enemy spawn range for 63 Valunarion.
# Setting type: Single
# Default value: 4
63 Valunarion | Inside Enemy Spawn Range = 4

## Outside enemy spawn range for 63 Valunarion.
# Setting type: Single
# Default value: 3
63 Valunarion | Outside Enemy Spawn Range = 3

## Daytime enemy spawn range for 63 Valunarion.
# Setting type: Single
# Default value: 10
63 Valunarion | Daytime Enemy Spawn Range = 10

## Inside enemy spawn curve for 63 Valunarion.
# Setting type: AnimationCurve
# Default value: 0.00, -3.00;0.11, -0.22;0.22, -0.95;0.33, -0.31;0.44, 1.84;0.56, 4.56;0.67, 6.88;0.78, 8.81;0.89, 11.12;1.00, 15.00
63 Valunarion | Inside Enemy Spawn Curve = 0.00, -3.00;0.11, -0.22;0.22, -0.95;0.33, -0.31;0.44, 1.84;0.56, 4.56;0.67, 6.88;0.78, 8.81;0.89, 11.12;1.00, 15.00

## Outside enemy spawn curve for 63 Valunarion.
# Setting type: AnimationCurve
# Default value: 0.00, -2.89;0.11, -2.39;0.22, -1.46;0.33, -0.35;0.44, 1.38;0.56, 3.58;0.67, 4.69;0.78, 5.13;0.89, 4.05;1.00, 2.41
63 Valunarion | Outside Enemy Spawn Curve = 0.00, -2.89;0.11, -2.39;0.22, -1.46;0.33, -0.35;0.44, 1.38;0.56, 3.58;0.67, 4.69;0.78, 5.13;0.89, 4.05;1.00, 2.41

## Daytime enemy spawn curve for 63 Valunarion.
# Setting type: AnimationCurve
# Default value: 0.00, 3.08;0.11, 11.28;0.22, 10.94;0.33, 5.70;0.44, -0.82;0.56, -4.97;0.67, -7.39;0.78, -10.68;0.89, -13.57;1.00, -14.82
63 Valunarion | Daytime Enemy Spawn Curve = 0.00, 3.08;0.11, 11.28;0.22, 10.94;0.33, 5.70;0.44, -0.82;0.56, -4.97;0.67, -7.39;0.78, -10.68;0.89, -13.57;1.00, -14.82

## Whether you're allowed to edit the config entries for ValunarionMoon.
# Setting type: Boolean
# Default value: false
ValunarionMoon | Allow Editing Config = false

## Base Weight for Moon Scene: ValunarionMoon.
# Setting type: Int32
# Default value: 0
ValunarionMoon | Base Weight = 0

## Weather Weights for Moon Scene: ValunarionMoon.
# Setting type: String
# Default value: 
ValunarionMoon | Weather Spawn Weights = 

