## Settings file was created by plugin PowerSounds v1.0.0
## Plugin GUID: soundpack.PowerSounds

[EnabledSounds]

## Enable new AllPlayersDead music?
# Setting type: Boolean
# Default value: true
allplayersdead = true

## Enable DOORS Menu music?
# Setting type: Boolean
# Default value: false
doors_menu_theme = false

## Enable new Dropship music?
# Setting type: Boolean
# Default value: true
dropship = false

## Enable new Landmine sounds?
# Setting type: Boolean
# Default value: true
hazard = true

## Enable Jester music theme from FFXIV?
# Setting type: Boolean
# Default value: false
jester_ffxiv = true

## Enable new Menu sounds?
# Setting type: Boolean
# Default value: true
menu = true

## Enable 14 new Menu music?
# Setting type: Boolean
# Default value: true
menu_theme = true

## Enable new Old Bird missile explosion sounds?
# Setting type: Boolean
# Default value: true
old_bird = true

## Enable CS2 Cache music to replace RecordPlayerJazz?
# Setting type: Boolean
# Default value: true
recordplayerjazz = false

## Enable RE2 Meltdown Collapse music?
# Setting type: Boolean
# Default value: false
re2_meltdown = false

## Enable new ship sounds?
# Setting type: Boolean
# Default value: true
ship = true

## Enable new teleporter sounds?
# Setting type: Boolean
# Default value: true
teleporter = false

## Enable new weather sounds?
# Setting type: Boolean
# Default value: true
weather = true

