## Settings file was created by plugin Ardie_Ambient_Pack v5.0.0
## Plugin GUID: soundpack.Ardie_Ambient_Pack

[Ambient_Music_Override]

## Only the ambient music from the Default music pack plays, everywhere. Overrides 'Music' configurations. ONLY ONE AMBIENT MUSIC OVERRIDE SHOULD BE TRUE OR THINGS BREAK (SOFT INCOMPATIBLE WITH Lethal Resonance and AmbientPackMusic)
# Setting type: Boolean
# Default value: false
Only_Default_Ambient_Music = false

## Only the ambient music from the Snow music pack plays, everywhere. Overrides 'Music' configurations. ONLY ONE AMBIENT MUSIC OVERRIDE SHOULD BE TRUE OR THINGS BREAK (SOFT INCOMPATIBLE WITH Lethal Resonance and AmbientPackMusic)
# Setting type: Boolean
# Default value: false
Only_Snow_Ambient_Music = false

## Only the ambient music from the Industrial music pack plays, everywhere. Overrides 'Music' configurations. ONLY ONE AMBIENT MUSIC OVERRIDE SHOULD BE TRUE OR THINGS BREAK (SOFT INCOMPATIBLE WITH Lethal Resonance and AmbientPackMusic)
# Setting type: Boolean
# Default value: false
Only_Industrial_Ambient_Music = false

## Only the ambient music from the Forest music pack plays, everywhere. Overrides 'Music' configurations. ONLY ONE AMBIENT MUSIC OVERRIDE SHOULD BE TRUE OR THINGS BREAK (SOFT INCOMPATIBLE WITH Lethal Resonance and AmbientPackMusic)
# Setting type: Boolean
# Default value: false
Only_Forest_Ambient_Music = false

## No ambient music plays, anywhere. Overrides 'Music' configurations. ONLY ONE AMBIENT MUSIC OVERRIDE SHOULD BE TRUE OR THINGS BREAK (SOFT INCOMPATIBLE WITH Lethal Resonance and AmbientPackMusic)
# Setting type: Boolean
# Default value: false
No_Ambient_Music = false

[Day_Music_Override]

## Only the day stingers from the Default music pack plays, everywhere. Overrides 'Music' configurations. ONLY ONE DAY MUSIC OVERRIDE SHOULD BE TRUE OR THINGS BREAK (SOFT INCOMPATIBLE WITH Lethal Resonance and AmbientPackMusic)
# Setting type: Boolean
# Default value: false
Only_Default_Day_Music = false

## Only the day stingers from the Snow music pack plays, everywhere. Overrides 'Music' configurations. ONLY ONE DAY MUSIC OVERRIDE SHOULD BE TRUE OR THINGS BREAK (SOFT INCOMPATIBLE WITH Lethal Resonance and AmbientPackMusic)
# Setting type: Boolean
# Default value: false
Only_Snow_Day_Music = false

## Only the day stingers from the Industrial music pack plays, everywhere. Overrides 'Music' configurations. ONLY ONE DAY MUSIC OVERRIDE SHOULD BE TRUE OR THINGS BREAK (SOFT INCOMPATIBLE WITH Lethal Resonance and AmbientPackMusic)
# Setting type: Boolean
# Default value: false
Only_Industrial_Day_Music = false

## Only the day stingers from the Forest music pack plays, everywhere. Overrides 'Music' configurations. ONLY ONE DAY MUSIC OVERRIDE SHOULD BE TRUE OR THINGS BREAK (SOFT INCOMPATIBLE WITH Lethal Resonance and AmbientPackMusic)
# Setting type: Boolean
# Default value: false
Only_Forest_Day_Music = false

## No day music plays, anywhere. Overrides 'Music' configurations. ONLY ONE DAY MUSIC OVERRIDE SHOULD BE TRUE OR THINGS BREAK (SOFT INCOMPATIBLE WITH Lethal Resonance and AmbientPackMusic)
# Setting type: Boolean
# Default value: false
No_Day_Music = false

[Moon_Compatibility]

## This adds silence to the replacer pool, effectively silencing this mod's day and ambient music in very specific scenarios to allow for better compatibility with modded moon custom music. Example: Infernis' music at the start of day. Doesn't affect vanilla moons. (SOFT INCOMPATIBLE WITH Lethal Resonance and AmbientPackMusic)
# Setting type: Boolean
# Default value: true
Enable_Silence_Patch_for_Modded_Moons = true

[Music]

## Enables the 'default' day music (Lethal Resonance and AmbientPackMusic compatible)
# Setting type: Boolean
# Default value: true
Default_Day_Music = true

## Enables the 'default' ambient music (Lethal Resonance and AmbientPackMusic compatible)
# Setting type: Boolean
# Default value: true
Default_Ambient_Music = true

## Enables Snow themed day music plays on snowy moons (Lethal Resonance and AmbientPackMusic compatible)
# Setting type: Boolean
# Default value: true
Snow_Day_Music = true

## Snow themed ambient music plays on snowy moons (Lethal Resonance and AmbientPackMusic compatible)
# Setting type: Boolean
# Default value: true
Snow_Ambient_Music = true

## Industrial themed ambient music plays on industrial moons (Lethal Resonance and AmbientPackMusic compatible)
# Setting type: Boolean
# Default value: true
Industrial_Ambient_Music = true

## Industrial themed day music plays on industrial moons (Lethal Resonance and AmbientPackMusic compatible)
# Setting type: Boolean
# Default value: true
Industrial_Day_Music = true

## Forest themed ambient music plays on forested moons (Lethal Resonance and AmbientPackMusic compatible)
# Setting type: Boolean
# Default value: true
Forest_Ambient_Music = true

## Forest themed day music plays on forested moons (Lethal Resonance and AmbientPackMusic compatible)
# Setting type: Boolean
# Default value: true
Forest_Day_Music = true

## Toggles the music that plays during Eclipsed weather (Lethal Resonance and AmbientPackMusic compatible)
# Setting type: Boolean
# Default value: true
Eclipse_Ambience = true

## Plays a custom theme when landing at the company building (Lethal Resonance and AmbientPackMusic compatible)
# Setting type: Boolean
# Default value: true
Company_Music = true

Original_Day_Music = true

Original_Ambient_Music = true

[Override]

Only_Original_Music = false

Only_Snow_Music = false

Only_Industrial_Music = false

Only_Forest_Music = false

