## Settings file was created by plugin InteriorFogConfig v1.2.0
## Plugin GUID: Tomatobird.InteriorFogConfig

[General]

## Control the density of the fog. Higher values make fog thinner. Ignored if RandomFogThinness is used.
# Setting type: Int32
# Default value: 5
FogThinness = 5

## Make the density of the fog random per each round. Note that this isn't network synchronized and in multiplayer players will see different fog density.
# Setting type: Boolean
# Default value: false
RandomFogThinness = true

## Minimum thinness of the fog. The densest the fog will get. Inclusive.
# Setting type: Int32
# Default value: 3
MinThinness = 5

## Maximum thinness of the fog. The least dense the fog will get. Exclusive. Set this higher than MinThinness
# Setting type: Int32
# Default value: 8
MaxThinness = 11

## Should the mod also change the color of the fog?
# Setting type: Boolean
# Default value: false
ChangeFogColor = false

## Color of the interior fog. Set color to all moons example: All:#261710FF. Set color to specific moons by appending moon names to the config: All:#261710FF,Experimentation:#110502FF,Assurance:#21110BFF
# Setting type: String
# Default value: All:#261710FF
FogColor = #261710FF

