## Settings file was created by plugin CompanyMoonConfig v0.1.1
## Plugin GUID: Tomatobird.CompanyMoonConfig

[General]

## Should the comany moon map object and related props be enabled?
# Setting type: Boolean
# Default value: true
CompanyMapEnabled = true

## Should the plane behind the sell desk be enabled?
# Setting type: Boolean
# Default value: true
SellDeskPlaneEnabled = true

[Lighting]

## Should local volumetric fog be enabled?
# Setting type: Boolean
# Default value: false
LocalVolumetricFog = true

## How thin should the fog be? Lower values make fog thicker.
# Setting type: Single
# Default value: 45
LocalVolumetricFogThinness = 13

## Should the sun object be enabled?
# Setting type: Boolean
# Default value: true
SunWithShadows = true

## How bright should the sunlight be?
# Setting type: Single
# Default value: 1.972
SunBrightness = 0.6

## Should indirect lighting be enabled?
# Setting type: Boolean
# Default value: true
Indirect = true

## How bright should the indirect light be?
# Setting type: Single
# Default value: 2
IndirectBrightness = 0.5

## Should sky and global fog be enabled?
# Setting type: Boolean
# Default value: true
SkyAndFogGlobalVolume = true

## How strong should the fog be? 0 disables the object.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 1
GlobalFogVolumeWeight = 1

