## Settings file was created by plugin Enhanced Monsters v1.4.0
## Plugin GUID: com.velddev.enhancedmonsters

[General]

## Wether or not to synchronize ranks of enemies from host's configs. It is recommended to keep it enabled. [NOTE: This setting can only be edited from the main menu.]
# Setting type: Boolean
# Default value: true
Synchronize Ranks = true

