## Settings file was created by plugin Schizophrenia Mod v1.2.1
## Plugin GUID: com.tibby.schizophrenia

[Audio Settings]

## Minimum distance from the player in meters where hallucination sounds can spawn.
# Setting type: Single
# Default value: 15
MinDistance = 20

## Maximum distance from the player in meters where hallucination sounds can spawn.
# Setting type: Single
# Default value: 25
MaxDistance = 50

## Master volume of the hallucinations (0.0 = silent, 1.0 = full volume).
# Setting type: Single
# Default value: 0.8
Volume = 1

[Hallucination Settings]

## Base probability per second of hearing a sound (in percent, e.g., 0.15 = 0.15% chance per second).
# Setting type: Single
# Default value: 0.15
BaseChance = 0.08

## Additional chance added when at max insanity (in percent, e.g., 0.30 = 0.30% additional chance).
# Setting type: Single
# Default value: 0.3
InsanityBonus = 0.2

## Minimum seconds between hallucinations for each player.
# Setting type: Single
# Default value: 18
Cooldown = 25

[System Settings]

## Delay in seconds before the mod starts after landing (if no one enters the facility first).
# Setting type: Single
# Default value: 120
ActivationDelay = 120

