[Constellation: ARC-913]

## Deadline mode for this constellation. UseGlobal uses main ConfigurableQuota deadline settings, Fixed uses FixedDaysToDeadline, Random uses DeadlineMin/DeadlineMax.
# Setting type: String
# Default value: UseGlobal
# Acceptable values: UseGlobal, Fixed, Random
DeadlineMode = Random

## Used when Deadline Mode is Fixed.
# Setting type: Int32
# Default value: 3
FixedDaysToDeadline = 3

## Used when Deadline Mode is Random.
# Setting type: Int32
# Default value: 3
DeadlineMin = 3

## Used when Deadline Mode is Random.
# Setting type: Int32
# Default value: 6
DeadlineMax = 4

[Constellation: AST-17]

## Deadline mode for this constellation. UseGlobal uses main ConfigurableQuota deadline settings, Fixed uses FixedDaysToDeadline, Random uses DeadlineMin/DeadlineMax.
# Setting type: String
# Default value: UseGlobal
# Acceptable values: UseGlobal, Fixed, Random
DeadlineMode = Fixed

## Used when Deadline Mode is Fixed.
# Setting type: Int32
# Default value: 3
FixedDaysToDeadline = 3

## Used when Deadline Mode is Random.
# Setting type: Int32
# Default value: 3
DeadlineMin = 3

## Used when Deadline Mode is Random.
# Setting type: Int32
# Default value: 6
DeadlineMax = 4

[Constellation: NAV-42]

## Deadline mode for this constellation. UseGlobal uses main ConfigurableQuota deadline settings, Fixed uses FixedDaysToDeadline, Random uses DeadlineMin/DeadlineMax.
# Setting type: String
# Default value: UseGlobal
# Acceptable values: UseGlobal, Fixed, Random
DeadlineMode = Random

## Used when Deadline Mode is Fixed.
# Setting type: Int32
# Default value: 3
FixedDaysToDeadline = 3

## Used when Deadline Mode is Random.
# Setting type: Int32
# Default value: 3
DeadlineMin = 2

## Used when Deadline Mode is Random.
# Setting type: Int32
# Default value: 6
DeadlineMax = 3

[Constellation: NUL-00]

## Deadline mode for this constellation. UseGlobal uses main ConfigurableQuota deadline settings, Fixed uses FixedDaysToDeadline, Random uses DeadlineMin/DeadlineMax.
# Setting type: String
# Default value: UseGlobal
# Acceptable values: UseGlobal, Fixed, Random
DeadlineMode = Fixed

## Used when Deadline Mode is Fixed.
# Setting type: Int32
# Default value: 3
FixedDaysToDeadline = 2

## Used when Deadline Mode is Random.
# Setting type: Int32
# Default value: 3
DeadlineMin = 2

## Used when Deadline Mode is Random.
# Setting type: Int32
# Default value: 6
DeadlineMax = 2

[Constellation: OME-717]

## Deadline mode for this constellation. UseGlobal uses main ConfigurableQuota deadline settings, Fixed uses FixedDaysToDeadline, Random uses DeadlineMin/DeadlineMax.
# Setting type: String
# Default value: UseGlobal
# Acceptable values: UseGlobal, Fixed, Random
DeadlineMode = Random

## Used when Deadline Mode is Fixed.
# Setting type: Int32
# Default value: 3
FixedDaysToDeadline = 3

## Used when Deadline Mode is Random.
# Setting type: Int32
# Default value: 3
DeadlineMin = 3

## Used when Deadline Mode is Random.
# Setting type: Int32
# Default value: 6
DeadlineMax = 4

[Constellation: SRB-1806]

## Deadline mode for this constellation. UseGlobal uses main ConfigurableQuota deadline settings, Fixed uses FixedDaysToDeadline, Random uses DeadlineMin/DeadlineMax.
# Setting type: String
# Default value: UseGlobal
# Acceptable values: UseGlobal, Fixed, Random
DeadlineMode = Random

## Used when Deadline Mode is Fixed.
# Setting type: Int32
# Default value: 3
FixedDaysToDeadline = 3

## Used when Deadline Mode is Random.
# Setting type: Int32
# Default value: 3
DeadlineMin = 2

## Used when Deadline Mode is Random.
# Setting type: Int32
# Default value: 6
DeadlineMax = 3

[Constellation: WRH-118]

## Deadline mode for this constellation. UseGlobal uses main ConfigurableQuota deadline settings, Fixed uses FixedDaysToDeadline, Random uses DeadlineMin/DeadlineMax.
# Setting type: String
# Default value: UseGlobal
# Acceptable values: UseGlobal, Fixed, Random
DeadlineMode = Random

## Used when Deadline Mode is Fixed.
# Setting type: Int32
# Default value: 3
FixedDaysToDeadline = 3

## Used when Deadline Mode is Random.
# Setting type: Int32
# Default value: 3
DeadlineMin = 3

## Used when Deadline Mode is Random.
# Setting type: Int32
# Default value: 6
DeadlineMax = 4

[Constellation: ZRC-81]

## Deadline mode for this constellation. UseGlobal uses main ConfigurableQuota deadline settings, Fixed uses FixedDaysToDeadline, Random uses DeadlineMin/DeadlineMax.
# Setting type: String
# Default value: UseGlobal
# Acceptable values: UseGlobal, Fixed, Random
DeadlineMode = Random

## Used when Deadline Mode is Fixed.
# Setting type: Int32
# Default value: 3
FixedDaysToDeadline = 3

## Used when Deadline Mode is Random.
# Setting type: Int32
# Default value: 3
DeadlineMin = 3

## Used when Deadline Mode is Random.
# Setting type: Int32
# Default value: 6
DeadlineMax = 4

[Constellation: ZYN-300]

## Deadline mode for this constellation. UseGlobal uses main ConfigurableQuota deadline settings, Fixed uses FixedDaysToDeadline, Random uses DeadlineMin/DeadlineMax.
# Setting type: String
# Default value: UseGlobal
# Acceptable values: UseGlobal, Fixed, Random
DeadlineMode = Random

## Used when Deadline Mode is Fixed.
# Setting type: Int32
# Default value: 3
FixedDaysToDeadline = 3

## Used when Deadline Mode is Random.
# Setting type: Int32
# Default value: 3
DeadlineMin = 3

## Used when Deadline Mode is Random.
# Setting type: Int32
# Default value: 6
DeadlineMax = 4

