## Settings file was created by plugin ReverbTriggerFix v0.4.0
## Plugin GUID: JacobG5.ReverbTriggerFix

[Core]

## Disables patches forcing reverb triggers to only run checks on trigger enter. Keeps patches for caching reverb presets reguardless.
# Setting type: Boolean
# Default value: false
disableMod = false

[Debug]

## Logs more info to the console when enabled.
## 
## *THIS WILL SPAM YOUR CONSOLE DEPENDING ON YOUR OTHER SETTINGS*
# Setting type: Boolean
# Default value: false
extendedLogging = false

[Experimental]

triggerOnEnter = false

