## Settings file was created by plugin The Doctor v1.0.4
## Plugin GUID: Lega.TheDoctor

[_Global_]

## Brain enemy spawn weights
# Setting type: String
# Default value: Vanilla:20,Modded:20
Spawn weights = Vanilla:20,Modded:20

## Brain probability curve (format : time,value;time,value;...)
# Setting type: String
# Default value: 0,1;0.25,1;0.3,0;1,0
Probability curve = 0,1;0.25,1;0.3,0;1,0

## Amount of Corpse that spawn at the same time as the Brain
# Setting type: Int32
# Default value: 8
Amount corpses = 2

## Minimum cooldown duration between Corpse scans
# Setting type: Single
# Default value: 2
Scan min = 2

## Maximum cooldown duration between Corpse scans
# Setting type: Single
# Default value: 8
Scan max = 8

## Trigger the ship dialogue when the Brain spawns
# Setting type: Boolean
# Default value: true
Ship dialogue = true

## Trigger the inside dialogue when the Brain spawns
# Setting type: Boolean
# Default value: true
Inside dialogue = true

[Brain]

## Enable Brain item's special ability (Spectral Decoy)?
# Setting type: Boolean
# Default value: true
Enable special ability = true

## Brain min value
# Setting type: Int32
# Default value: 50
Min value = 50

## Brain max value
# Setting type: Int32
# Default value: 100
Max value = 100

Special ability cooldown = 120

[Corpse]

## Scan duration for the Corpse
# Setting type: Single
# Default value: 7
Scan duration = 7

## Corpse speed
# Setting type: Single
# Default value: 5
Corpse speed = 5

[Eye]

## Eye tracking duration
# Setting type: Int32
# Default value: 45
Tracking duration = 45

## Eye min value
# Setting type: Int32
# Default value: 15
Min value = 15

## Eye max value
# Setting type: Int32
# Default value: 30
Max value = 30

[Heart]

## Heart tracking duration
# Setting type: Int32
# Default value: 45
Tracking duration = 45

## Heart min value
# Setting type: Int32
# Default value: 15
Min value = 15

## Heart max value
# Setting type: Int32
# Default value: 30
Max value = 30

[Spectral Decoy]

## Cooldown duration of the Spectral Decoy
# Setting type: Int32
# Default value: 120
Cooldown = 120

## Damages inflicted by the Spectral Decoy
# Setting type: Int32
# Default value: 2
Damage = 2

