## Settings file was created by plugin Shisha v2.0.2
## Plugin GUID: LethalCompanyShisha

[AudioSettings]

## The minimum time gap between any given ambient sound effect.
# Setting type: Single
# Default value: 7.5
# Acceptable value range: From 0 to 50
AmbientSfxTimerMin = 7.5

## The maximum time gap between any given ambient sound effect.
# Setting type: Single
# Default value: 30
# Acceptable value range: From 0 to 500
AmbientSfxTimerMax = 30

## The volume of the ambient sounds of the Shisha.
# Setting type: Single
# Default value: 0.4
# Acceptable value range: From 0 to 1
AmbientSfxVolume = 0.4

## The volume of the footstep sounds of the Shisha.
# Setting type: Single
# Default value: 0.7
# Acceptable value range: From 0 to 1
FootstepSfxVolume = 0.5

[GeneralSettings]

## Whether the Shisha can be killed.
# Setting type: Boolean
# Default value: true
Killable = true

## The amount of health the Shisha has.
# Setting type: Int32
# Default value: 3
# Acceptable value range: From 1 to 999999
Health = 3

## Toggles whether the Shisha will leave the map when it gets dark (like other vanilla daytime entities).
# Setting type: Boolean
# Default value: true
TimeInDayLeaveEnabled = true

[Misc]

## Whether to log more debug information to the console. 99% of people do NOT need to touch this.
# Setting type: Boolean
# Default value: false
VerboseLoggingEnabled = false

[MovementSettings]

## When enabled, the Shisha will wander around the map.
# Setting type: Boolean
# Default value: true
Wander = true

## The maximum distance from the Shisha's current position within which it can wander.
# Setting type: Single
# Default value: 50
# Acceptable value range: From 0 to 999999
WanderRadius = 50

## When enabled, the Shisha will only wander around its spawn point within the radius defined by the Wander Radius setting. If disabled, the Shisha can wander from any point within the Wander Radius.
# Setting type: Boolean
# Default value: true
AnchoredWandering = true

## The minimum time that the Shisha will wander for.
# Setting type: Single
# Default value: 5
WanderTimeMin = 5

## The maximum time that the Shisha will wander for.
# Setting type: Single
# Default value: 45
WanderTimeMax = 45

## The maximum speed of the Shisha.
# Setting type: Single
# Default value: 4
# Acceptable value range: From 0 to 500
MaxSpeed = 4

## The acceleration of the Shisha.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 500
Acceleration = 1

## The maximum speed of the Shisha when running away from something.
# Setting type: Single
# Default value: 7
# Acceptable value range: From 0 to 500
RunningAwayMaxSpeed = 7

[ShishaPoopSettings]

## Toggles whether the Shisha can poop when idle.
# Setting type: Boolean
# Default value: true
PoopBehaviourEnabled = true

## The chance of the Shisha pooping while idle. The setting PoopBehaviourEnabled must be set to true for this to work.
# Setting type: Single
# Default value: 0.05
# Acceptable value range: From 0 to 1
PoopChance = 0.05

# Setting type: Single
# Default value: 65
# Acceptable value range: From 0 to 999999
CommonCrystalSpawnWeight = 65

# Setting type: Single
# Default value: 25
# Acceptable value range: From 0 to 999999
UncommonCrystalSpawnWeight = 25

# Setting type: Single
# Default value: 10
# Acceptable value range: From 0 to 999999
RareCrystalSpawnWeight = 10

## The minimum value that the common crystal can spawn with.
# Setting type: Int32
# Default value: 20
# Acceptable value range: From 0 to 999999
CommonCrystalMinValue = 20

## The maximum value that the common crystal can spawn with.
# Setting type: Int32
# Default value: 35
# Acceptable value range: From 0 to 999999
CommonCrystalMaxValue = 35

## The minimum value that the uncommon crystal can spawn with.
# Setting type: Int32
# Default value: 40
# Acceptable value range: From 0 to 999999
UncommonCrystalMinValue = 40

## The maximum value that the uncommon crystal can spawn with.
# Setting type: Int32
# Default value: 75
# Acceptable value range: From 0 to 999999
UncommonCrystalMaxValue = 75

## The minimum value that the rare crystal can spawn with.
# Setting type: Int32
# Default value: 80
# Acceptable value range: From 0 to 999999
RareCrystalMinValue = 80

## The maximum value that the rare crystal can spawn with.
# Setting type: Int32
# Default value: 100
# Acceptable value range: From 0 to 999999
RareCrystalMaxValue = 100

[ShishaSpawnSettings]

## Whether the Shisha will spawn in games.
# Setting type: Boolean
# Default value: true
ShishaEnabled = true

## Spawn weight of the Shisha on all moons. You can to add to it any moon, just follow the format (also needs LLL installed for LE moons to work with this config).
# Setting type: String
# Default value: All:30
Rarity = Vow:15;March:15;Adamance:15;Celest:15;Aquatis:15;Submersion:15;Humidity:15;Sanguine:15;Hydro:15;Mazon:15;Alcatras:15;Terra:15;Motra:15;Kiri:15

## The power level of the Shisha.
# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0 to 100
PowerLevel = 0.5

## The max amount of Shishas that can spawn on the map.
# Setting type: Int32
# Default value: 20
# Acceptable value range: From 0 to 500
MaxAmount = 20

