[Abandonedfactorydunflow - mones_interiors:abandonedfactorydunflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = true

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = 

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = Flowerman:*1.5,Cadaver Growths*1.5,Locker:*1.5

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Abandonedfactorydunflow - monesmonesowiczsmod:abandonedfactorydunflow]

Configure Content = false

Spawnable Scrap = 

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

[Atticdunflow - monesmonesowiczsmod:atticdunflow]

Configure Content = false

Spawnable Scrap = 

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

[Backroomsflow - genericinteriors:backroomsflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = 

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = 

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Basementdunflow - monesmonesowiczsmod:basementdunflow]

Configure Content = false

Spawnable Scrap = 

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

[Castleflow - scoopycastle:castleflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = 

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = 

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Deepmines - beaniebesmod:deepmines]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = true

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = Powerdrill:+2

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = Maneater:*1.5

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Drainsflow - genericinteriors:drainsflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = 

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = 

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Endlesshalldunflow - monesmonesowiczsmod:endlesshalldunflow]

Configure Content = false

Spawnable Scrap = 

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

[Facility - lethal_company:facility]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = 

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = 

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Facilityextralarge - lethal_company:facility_extra_large]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = 

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = 

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Facilitythreeexits - lethal_company:facility_three_exits]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = 

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = 

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Hauntedhoteldunflow - monesmonesowiczsmod:hauntedhoteldunflow]

Configure Content = false

Spawnable Scrap = 

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

[Leveloneflow - lethalcompany:leveloneflow]

Configure Content = false

Spawnable Scrap = 

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

[Leveloneflowextralarge - lethalcompany:leveloneflowextralarge]

Configure Content = false

Spawnable Scrap = 

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

[Leveloneflowthreeexits - lethalcompany:leveloneflowthreeexits]

Configure Content = false

Spawnable Scrap = 

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

[Leveltwoflow - lethalcompany:leveltwoflow]

Configure Content = false

Spawnable Scrap = 

Spawnable Daytime Enemies = 

Spawnable Interior Enemies = 

Spawnable Outside Enemies = 

[Liminalhouseflow - beaniebesmod:liminalhouseflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = true

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = Magicsevenball:+2

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = Locker:*0

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Mansion - lethal_company:mansion]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = true

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = Magicsevenball:+2

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = Locker:*0,Girl:*1.25,Cabinet:*1.25,Butler:*1.25,Barber:*1.25,Nutcracker:*1.25,Jester:*1.25

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Mineshaft - lethal_company:mineshaft]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = true

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = Powerdrill:+2

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = Maneater:*1.5

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Ravenflow - raven_manor_interior:ravenflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = true

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = Magicsevenball:+2

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = Locker:*0,Girl:*1.25,Cabinet:*1.25,Butler:*1.25,Barber:*1.25,Nutcracker:*1.25,Jester:*1.25

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Shflow - genericinteriors:shflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = 

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = 

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Storagecomplex - storagecomplex:storagecomplex]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = 

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = 

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

[Towerflow - genericinteriors:towerflow]

## Enable to change any of the settings below.
# Setting type: Boolean
# Default value: false
Configure Content = false

## The scrap injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Scrap = 

## The daytime enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Daytime Enemies = 

## The interior enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Interior Enemies = 

## The outside enemies injected into the pool with this dungeon.
## Denoted with NAME:RARITY, separated with commas.
# Setting type: String
# Default value: 
Spawnable Outside Enemies = 

