## Settings file was created by plugin BasedDecorPlacement v0.0.7
## Plugin GUID: MrHat.BasedDecorPlacement

[Build Mode]

## If true, enables build mode overhaul
# Setting type: Boolean
# Default value: true
Build mode overhaul = true

## NOT CLIENTSIDE | If true, extends build mode bounds to the rails outside of the ship
# Setting type: Boolean
# Default value: false
Full ship coverage = false

## Mouse = hold left click and move mouse, Keys = Q/E rotate by snap
# Setting type: RotationControlMode
# Default value: Mouse
# Acceptable values: Mouse, Keys
Rotation mode = Mouse

## Default rotation snap
# Setting type: RotationSnap
# Default value: Zero
# Acceptable values: Zero, Five, Fifteen, Thirty, FortyFive
Default rotation snap = Fifteen

## How far away ship decor can be selected
# Setting type: Single
# Default value: 5
# Acceptable value range: From 3 to 10
Selection range = 5

## How far away ship decor can be positioned
# Setting type: Single
# Default value: 5
# Acceptable value range: From 3 to 10
Placement range = 5

## Show the current unlockable rotation in the build mode tooltip
# Setting type: Boolean
# Default value: false
Show current rotation = true

## Hex colour for the valid placement ghost
# Setting type: String
# Default value: #00FF00
Placeable ghost colour = #00FF00

## Hex colour for the blocked placement ghost
# Setting type: String
# Default value: #FF0000
Blocked ghost colour = #FF0000

[Unlockable Item Reparenting]

## If true, reparent items back onto unlockable surfaces after load
# Setting type: Boolean
# Default value: true
Reparent Items To Unlockables = false

## Max distance allowed when matching an item back to a unlockable surface
# Setting type: Single
# Default value: 0.05
# Acceptable value range: From 0,01 to 0,5
Unlockable Surface Offset = 0.05

## Unlockable names that item reparenting should ignore entirely
# Setting type: String
# Default value: HouseTeleporter, StockRoom0, BedRoom0, BedRoom1, Basement, House, Poolroom, Garden
Unlockable Blacklist = HouseTeleporter, StockRoom0, BedRoom0, BedRoom1, Basement, House, Poolroom, Garden

## If true, diagnoses issues in unlockable prefabs and tries to repair them. This can resolve items falling through some modded unlockables. Only valid for unlockables that store items
# Setting type: Boolean
# Default value: true
Fix broken unlockable prefabs = false

