## Settings file was created by plugin ShadowCat v1.0.0
## Plugin GUID: neoninc.shadowcat

[General]

## The spawn chance weight for ShadowCat, relative to other existing enemies.
## Goes up from 0, lower is more rare, 100 and up is very common.
# Setting type: Int32
# Default value: 70
Spawn weight = 70

