[Misc]

## Steam IDs to curse players separated by a comma
# Setting type: String
# Default value: 
Cursed Players = 

## Makes it to where you can see the Debug Chatboxes or not
# Setting type: Boolean
# Default value: true
Show Debug Chatboxes = false

## How long the cooldown for the debug tool is in seconds
# Setting type: Int32
# Default value: 10
Debug Cooldown = 10

## SteamIDs of users who are allowed to use the chat function
# Setting type: String
# Default value: 
Allowed Chat Steam IDs = 

[Twitch]

## Put Steam IDs of users who are Allowed/Denied to use the Twitch Integration here Depending on Blacklist mode setting.
## This exists to prevent trolling and free uses of all Mimic commands (Host Only)
## Host will still be able to use Twitch Integration even if they are not in this config.
# Setting type: String
# Default value: 
Trusted Steam UserIDs for Twitch Integration = 

## Turn the Whitelist above into a blacklist
# Setting type: Boolean
# Default value: true
Blacklist Mode = false

## If Twitch Subscription events are enabled
# Setting type: Boolean
# Default value: true
Enable Sub = false

## How many mimics should spawn on that tier
# Setting type: Int32
# Default value: 3
Tier 1 Sub Amount = 3

## How many mimics should spawn on that tier
# Setting type: Int32
# Default value: 5
Tier 2 Sub Amount = 5

## How many mimics should spawn on that tier
# Setting type: Int32
# Default value: 10
Tier 3 Sub Amount = 10

## If Twitch Cheer events are enabled
# Setting type: Boolean
# Default value: true
Enable Cheer = false

## How many bits required to spawn a mimic
# Setting type: Int32
# Default value: 100
Cheer Min = 100

## If Twitch Raid events are enabled
# Setting type: Boolean
# Default value: true
Enable Raids = false

## If Twitch Chat events are enabled
# Setting type: Boolean
# Default value: true
Enable Chat Events = false

## If Twitch chat popups show for everyone
# Setting type: Boolean
# Default value: true
Chat Messages Target Everyone = false

## Allows Twitch integration spawns on the company moon
# Setting type: Boolean
# Default value: true
Company Moon = true

## Allows Twitch integration spawns on Galetry
# Setting type: Boolean
# Default value: true
Galetry = true

## Allows Twitch integration spawns on Oxyde
# Setting type: Boolean
# Default value: true
Oxyde = true

[Zombie]

## What percent chance will it change into a zombie
# Setting type: Single
# Default value: 7.5
Percent Chance = 2

## If a body can become a zombie after killing the zombie again
# Setting type: Boolean
# Default value: true
Continuous = false

## How often does it try to become a zombie
# Setting type: Int32
# Default value: 10
Timer = 35

## Decreases the chance of spawning additional zombies from the same body by this percent
# Setting type: Int32
# Default value: 1
Chance Decrease = 1

## If Masked enemies also come back alive
# Setting type: Boolean
# Default value: true
Masked Turn Back = true

## Don't do this
# Setting type: Boolean
# Default value: false
Chaos = false

## Makes the mimic mask not be removed
# Setting type: Boolean
# Default value: false
Show Mask = true

