## Settings file was created by plugin Tauralis v1.1.4
## Plugin GUID: PowerFull.Tauralis

[TauralisConfig Options]

## Whether TauralisConfig is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for 281 Tauralis.
# Setting type: Boolean
# Default value: false
281 Tauralis | Allow Editing Config = false

## Cost for 281 Tauralis in the shop.
# Setting type: Int32
# Default value: 480
281 Tauralis | Cost = 480

## Min/Max scrap for 281 Tauralis.
# Setting type: BoundedRange
# Default value: 16,22
281 Tauralis | Min/Max Scrap = 16,22

## Time multiplier for 281 Tauralis.
# Setting type: Single
# Default value: 1
281 Tauralis | Time Multiplier = 1

## Inside enemy power count for 281 Tauralis.
# Setting type: Int32
# Default value: 16
281 Tauralis | Inside Enemy Power Count = 16

## Outside enemy power count for 281 Tauralis.
# Setting type: Int32
# Default value: 13
281 Tauralis | Outside Enemy Power Count = 13

## Daytime enemy power count for 281 Tauralis.
# Setting type: Int32
# Default value: 20
281 Tauralis | Daytime Enemy Power Count = 20

## Inside enemy spawn range for 281 Tauralis.
# Setting type: Single
# Default value: 3
281 Tauralis | Inside Enemy Spawn Range = 3

## Outside enemy spawn range for 281 Tauralis.
# Setting type: Single
# Default value: 3
281 Tauralis | Outside Enemy Spawn Range = 3

## Daytime enemy spawn range for 281 Tauralis.
# Setting type: Single
# Default value: 10
281 Tauralis | Daytime Enemy Spawn Range = 10

## Inside enemy spawn curve for 281 Tauralis.
# Setting type: AnimationCurve
# Default value: 0.00, -3.00;0.11, -0.22;0.22, -0.95;0.33, -0.31;0.44, 1.84;0.56, 4.56;0.67, 6.88;0.78, 8.81;0.89, 11.12;1.00, 15.00
281 Tauralis | Inside Enemy Spawn Curve = 0.00, -3.00;0.11, -0.22;0.22, -0.95;0.33, -0.31;0.44, 1.84;0.56, 4.56;0.67, 6.88;0.78, 8.81;0.89, 11.12;1.00, 15.00

## Outside enemy spawn curve for 281 Tauralis.
# Setting type: AnimationCurve
# Default value: 0.00, -2.89;0.11, -2.39;0.22, -1.46;0.33, -0.35;0.44, 1.38;0.56, 3.58;0.67, 4.69;0.78, 5.13;0.89, 4.05;1.00, 2.41
281 Tauralis | Outside Enemy Spawn Curve = 0.00, -2.89;0.11, -2.39;0.22, -1.46;0.33, -0.35;0.44, 1.38;0.56, 3.58;0.67, 4.69;0.78, 5.13;0.89, 4.05;1.00, 2.41

## Daytime enemy spawn curve for 281 Tauralis.
# Setting type: AnimationCurve
# Default value: 0.00, 0.00;0.11, 0.00;0.22, 0.00;0.33, 0.00;0.44, 0.00;0.56, 0.00;0.67, 0.00;0.78, 0.00;0.89, 0.00;1.00, 0.00
281 Tauralis | Daytime Enemy Spawn Curve = 0.00, 0.00;0.11, 0.00;0.22, 0.00;0.33, 0.00;0.44, 0.00;0.56, 0.00;0.67, 0.00;0.78, 0.00;0.89, 0.00;1.00, 0.00

## Whether you're allowed to edit the config entries for TauralisMoon.
# Setting type: Boolean
# Default value: false
TauralisMoon | Allow Editing Config = false

## Base Weight for Moon Scene: TauralisMoon.
# Setting type: Int32
# Default value: 0
TauralisMoon | Base Weight = 0

## Weather Weights for Moon Scene: TauralisMoon.
# Setting type: String
# Default value: 
TauralisMoon | Weather Spawn Weights = 

