## Settings file was created by plugin Sludgeld v1.0.3
## Plugin GUID: PowerFull.Sludgeld

[SludgeldConfig Options]

## Whether SludgeldConfig is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for 141 Sludgeld.
# Setting type: Boolean
# Default value: false
141 Sludgeld | Allow Editing Config = false

## Cost for 141 Sludgeld in the shop.
# Setting type: Int32
# Default value: 0
141 Sludgeld | Cost = 0

## Min/Max scrap for 141 Sludgeld.
# Setting type: BoundedRange
# Default value: 15,18
141 Sludgeld | Min/Max Scrap = 15,18

## Time multiplier for 141 Sludgeld.
# Setting type: Single
# Default value: 1
141 Sludgeld | Time Multiplier = 1

## Inside enemy power count for 141 Sludgeld.
# Setting type: Int32
# Default value: 14
141 Sludgeld | Inside Enemy Power Count = 14

## Outside enemy power count for 141 Sludgeld.
# Setting type: Int32
# Default value: 11
141 Sludgeld | Outside Enemy Power Count = 11

## Daytime enemy power count for 141 Sludgeld.
# Setting type: Int32
# Default value: 20
141 Sludgeld | Daytime Enemy Power Count = 20

## Inside enemy spawn range for 141 Sludgeld.
# Setting type: Single
# Default value: 3
141 Sludgeld | Inside Enemy Spawn Range = 3

## Outside enemy spawn range for 141 Sludgeld.
# Setting type: Single
# Default value: 3
141 Sludgeld | Outside Enemy Spawn Range = 3

## Daytime enemy spawn range for 141 Sludgeld.
# Setting type: Single
# Default value: 8
141 Sludgeld | Daytime Enemy Spawn Range = 8

## Inside enemy spawn curve for 141 Sludgeld.
# Setting type: AnimationCurve
# Default value: 0.00, -3.00;0.11, -0.22;0.22, -0.95;0.33, -0.31;0.44, 1.84;0.56, 4.56;0.67, 6.88;0.78, 8.81;0.89, 11.12;1.00, 15.00
141 Sludgeld | Inside Enemy Spawn Curve = 0.00, -3.00;0.11, -0.22;0.22, -0.95;0.33, -0.31;0.44, 1.84;0.56, 4.56;0.67, 6.88;0.78, 8.81;0.89, 11.12;1.00, 15.00

## Outside enemy spawn curve for 141 Sludgeld.
# Setting type: AnimationCurve
# Default value: 0.00, -3.29;0.11, -3.20;0.22, -3.00;0.33, -2.64;0.44, -1.97;0.56, -0.60;0.67, 0.63;0.78, 1.90;0.89, 3.13;1.00, 3.79
141 Sludgeld | Outside Enemy Spawn Curve = 0.00, -3.29;0.11, -3.20;0.22, -3.00;0.33, -2.64;0.44, -1.97;0.56, -0.60;0.67, 0.63;0.78, 1.90;0.89, 3.13;1.00, 3.79

## Daytime enemy spawn curve for 141 Sludgeld.
# Setting type: AnimationCurve
# Default value: 0.00, 5.41;0.11, 5.18;0.22, 4.58;0.33, 3.73;0.44, 2.75;0.55, 1.76;0.66, 0.90;0.77, 0.26;0.88, -0.01;0.99, 0.04
141 Sludgeld | Daytime Enemy Spawn Curve = 0.00, 5.41;0.11, 5.18;0.22, 4.58;0.33, 3.73;0.44, 2.75;0.55, 1.76;0.66, 0.90;0.77, 0.26;0.88, -0.01;0.99, 0.04

## Whether you're allowed to edit the config entries for SludgeldMoon.
# Setting type: Boolean
# Default value: false
SludgeldMoon | Allow Editing Config = false

## Base Weight for Moon Scene: SludgeldMoon.
# Setting type: Int32
# Default value: 0
SludgeldMoon | Base Weight = 0

## Weather Weights for Moon Scene: SludgeldMoon.
# Setting type: String
# Default value: 
SludgeldMoon | Weather Spawn Weights = 

