## Settings file was created by plugin HookahPlace v4.20.0
## Plugin GUID: Ratijas.HookahPlace

[HookahUnlockable Options]

## Whether HookahUnlockable is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Whether you're allowed to edit the config entries for Hookah.
# Setting type: Boolean
# Default value: false
Hookah | Allow Editing Config = true

