## Settings file was created by plugin ScanVan v1.4.9
## Plugin GUID: scandal.scanvan

[General]

## Should the camera be boosted when sat in the truck?
# Setting type: Boolean
# Default value: true
Enable Seat Boost = true

## How much to boost the seat up? (Default: 1.0)
# Setting type: Single
# Default value: 1
# Acceptable value range: From 1 to 2
Seat Boost Scale = 1

## Prevent explosions kicking you out of the front seats?
# Setting type: Boolean
# Default value: true
Prevent Seated Knockback = true

## How much to reduce the voice alert volume by? (Full volume: 1.0)
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0,25 to 1
Voice Alert Volume = 0.3

[Host]

## [Host] If true, will enable streamer-friendly music on the radio, and disable the live-radio system
# Setting type: Boolean
# Default value: true
DMCA Radio = false

## [Host] If true, will allow enemies such as Old Birds to see players in the front seats
# Setting type: Boolean
# Default value: true
Enemy sight = false

[Quality Of Life]

## Should the wheel be automatically re-centered?
# Setting type: Boolean
# Default value: false
Automatically Center Wheel = true

## Should the wheels inputs be smoothened?
# Setting type: Boolean
# Default value: true
Smooth Wheel = true

