## Settings file was created by plugin NightVisionConfig v1.0.1
## Plugin GUID: Tomatobird.NightVisionConfig

[General]

## Intensity of the night vision light.
# Setting type: Single
# Default value: 343.0585
Night Vision Light Intensity = 38.60884

## Range of the night vision light.
# Setting type: Single
# Default value: 10.25
Night Vision Light Range = 8.3

