## Settings file was created by plugin MineshaftRescaler v1.1.1
## Plugin GUID: Tomatobird.MineshaftRescaler

[General]

## Applies the mineshaft size changes listed below.
# Setting type: Boolean
# Default value: true
ApplyMineshaftSizeChanges = true

## Minimum generation length
# Setting type: Int32
# Default value: 14
MinLength = 12

## Maximum generation length
# Setting type: Int32
# Default value: 18
MaxLength = 14

## Relative length of the Main side section.
# Setting type: Single
# Default value: 0.25
MainLength = 0.35

## Relative length of the caves section.
# Setting type: Single
# Default value: 0.6
CavesLength = 0.3

## Relative length of the Fire side section.
# Setting type: Single
# Default value: 0.15
FireLength = 0.35

## Change the bonus amount of loot to spawn in the mineshaft interior.
# Setting type: Boolean
# Default value: false
ChangeMineshaftLootBonus = true

## Amount of extra loot to spawn in mineshaft.
# Setting type: Int32
# Default value: 6
LootAmountBonus = 5

